.vis-node {
    min-width: 100px;
    min-height: 75px;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    background: #00FFFF;
  }
  
  .vis-node label {
    display: block;
    color: #777;
    font-size: 12px;
  }

.node-toolbar{
  position: absolute;
  display: inline-flex;
}

.node-toolbar button{
  margin-right: 3px;
  margin-left: 3px;
}

.miniContainer{
  position: absolute;
  right: 5px;
}

.miniButtonSize{
  padding: 5% 5%;
  text-align: center;
  display: block;
}

.miniButtonSize1{
  padding: .1% .1%;
  text-align: center;
  display: block;
}

.miniIconSize {font-size: 4.5px;}



.iconSize {font-size: 7px;}


.rect-node {
  min-width: 75px;
  min-height: 25px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: #7b8080;
}

.button-node {
  min-width: 50px;
  min-height: 25px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: #a85b03;
}

.parameter-node{
  min-width: 100px;
  min-height: 50px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: #7b8080;
}


.parameterB-node {
  min-width: 75px;
  min-height: 35px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: #1f25255e;
}

.dados-node {
  min-width: 20px;
  min-height: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.titulo-node {
  min-width: 25px;
  min-height: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: rgba(63, 59, 59, 0.733);
  justify-content:space-between;
}

.link-node {
  min-width: 75px;
  min-height: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(180, 180, 180);
  background: rgba(255, 255, 255, 0.733);
  justify-content:space-between;
}

.dashboard-node {
  min-width: 75px;
  min-height: 40px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(161, 161, 161);
  background: rgba(63, 59, 59, 0.733);
  justify-content:space-between;
}

.dados-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.text-margin{
  align-self: center;
  display: inline-grid;
}

.text-margin b{
  overflow: hidden;
  white-space: normal;
  overflow-wrap: anywhere;
}

.acao-dados-node{
  min-width: 75px;
  min-height: 75px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: #90669d;
}

.actionIconContainer{
  width: 20px; 
  height: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

.actionIcon{
  height: 100%;
  width: 100%;

}

.var-node {
  width: 20px;
  height: 15px;
}
.graph-node {
  width: 35px;
  height: 35px;
  z-index: 1000;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}
.item {
  border-radius: 20px;
}

.header {
  position: absolute;
  z-index: 4;
  font-size: 12px;
  width: 100%;
}

.header .save__controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

.side {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 40vh;
  padding: 20px;
  background: whitesmoke;
  box-shadow: 1px 0 4px grey;
  z-index: 1;
  overflow-y: auto;
  white-space: break-spaces;
}

.tab{
  background: white;
  padding: 6px;
  width: 12vh;
  border: 1px solid grey;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}

.tab:hover{
  background: lightgrey;
}

.tab-selected{
  background: lightgrey;
}

.corner-element {
  width: 15px;
  height: 15px;
  background: rgb(255, 172, 19);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  font-size: 12px;
}

.componentNameStyle{
  position: absolute;
  top: 5px;
  left: 25px;
  font-size: 12px;
  display: inline-grid;
}

.componentNameStyle b{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.componentNameStyleWithoutCounter{
  position: absolute;
  top: 3px;
  font-size: 12px;
  height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.parameterSelect{
  margin-top: 3px;
  font-size: 10px;
}

.parameterSelect select{
  font-size: 10px;
}

.formButton{
  position: absolute;
  right: 25px;
}

.closeButton{
  position: absolute;
  right: 25px;
}

.closeButtonTop{
  position: absolute;
  right: 25px;
  top: 25px
}

.editButton{
  display: inline-flex;
  justify-self: end;
}

.t{
  background-image: url('../imagens/Icones/Filtragem.PNG');
background-repeat: no-repeat;
height: 100%;
width: 100%;

}

.t1{
  width: 20px; 
  height: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

.handle_clique{
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 10px;
  top: 35%;
  background-image: url("../imagens/Icones/Clique.PNG");
}

.handle_hover{
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 10px;
  top: 65%;
  background-image: url("../imagens/Icones/Hover.PNG");
}
