.vis-node {
    min-width: 75px;
    min-height: 75px;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    background: #00FFFF;
  }
  
  .vis-node label {
    display: block;
    color: #777;
    font-size: 12px;
  }

.node-toolbar{
  position: absolute;
  display: inline-flex;
}

.node-toolbar button{
  margin-right: 3px;
  margin-left: 3px;
}

.miniContainer{
  position: absolute;
  right: 5px;
}

.miniButtonSize{
  padding: 5% 5%;
  text-align: center;
  display: block;
}

.miniButtonSize1{
  padding: .1% .1%;
  text-align: center;
  display: block;
}

.miniIconSize {font-size: 4.5px;}



.iconSize {font-size: 7px;}


.rect-node {
  min-width: 75px;
  min-height: 25px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: #7b8080;
}

.button-node {
  min-width: 25px;
  min-height: 25px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: #a85b03;
}

.parameter-node{
  min-width: 75px;
  min-height: 25px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: #7b8080;
}


.parameterB-node {
  min-width: 75px;
  min-height: 35px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: #1f25255e;
}

.dados-node {
  min-width: 20px;
  min-height: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  display:inline-flex;
  justify-content:space-between;
}

.titulo-node {
  min-width: 25px;
  min-height: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: rgba(63, 59, 59, 0.733);
  justify-content:space-between;
}

.dados-node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.text-margin{
  margin: 0px 20px 0% 0px;
  align-self: center;
}

.acao-dados-node{
  min-width: 75px;
  min-height: 75px;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0);
  background: #90669d;
}

.actionIconContainer{
  width: 20px; 
  height: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

.actionIcon{
  height: 100%;
  width: 100%;

}

.var-node {
  width: 20px;
  height: 15px;
}
.graph-node {
  width: 35px;
  height: 35px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}
.item {
  border-radius: 20px;
}

.save__controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  font-size: 12px;
}

.corner-element {
  width: 15px;
  height: 15px;
  background: rgb(255, 172, 19);
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  font-size: 12px;
}

.componentNameStyle{
  position: absolute;
  top: 3px;
  left: 25px;
  font-size: 12px;
  height: 15px;
  text-overflow: ellipsis;
  white-space: normal;
}

.componentNameStyleWithoutCounter{
  position: absolute;
  top: 3px;
  font-size: 12px;
  height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.closeButton{
  position: absolute;
  right: 25px;
}

.closeButtonTop{
  position: absolute;
  right: 25px;
  top: 25px
}

.editButton{
  position: absolute;
  bottom: 35px;
}

.t{
  background-image: url('../imagens/Icones/Filtragem.PNG');
background-repeat: no-repeat;
height: 100%;
width: 100%;

}

.t1{
  width: 20px; 
  height: 20px;
  margin-top: 20px;
  margin-left: 10px;
}
